{% extends 'base.html' %}

{% block title %}Artikels van {{ article.author|title }} | DjangoBlog{% endblock %}

{% block content %}
    <div class="pt-3 pb-3">
        <h2>Alle artikels van {{ object_list.0.author|title }}</h2>
        <div class="mt-2"></div>
        {% for article in object_list %}
            <div class="blog-post gray-border-bottom">
                <a href="{% url 'artikeldetail' article.pk %}"><h3>{{ article.title|title }}</h3></a>
                <p class="text-muted">Gepost op {{ article.pub_date }} door <a href="{% url 'profiel' article.author.pk %}">{{ article.author }}</a></p>
                <p>{{ article.text|truncatechars_html:100 }}</p>
            </div>
        {% empty %}
            <div class="pt-3 pb-3">
                {{ article.author|title }} heeft nog niks geschreven.
            </div>
        {% endfor %}
    </div>
{% endblock %}